@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
body {
    color: $dark-grey;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 100;
}

a {
    color: $dark-grey;
}

.tagify__dropdown__wrapper {
    border-radius: 10px;
    border-color: #ddd;
}

.custom-navbar {
    padding: 0.5rem 0;
    .navbar-brand {
        font-size: 1.5rem;
    }
    ul {
        list-style-type: none;
        margin: auto 0;
    }
    a {
        &:hover {
            text-decoration: none;
            color: $grey;
        }
    }
    .dropdown-menu {
        left: -5rem;
    }
}
.card {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 1px 2px 20px 0 rgb(0 0 0 / 10%);
    @include media(md) {
        width: 80%;
    }
    .card-header {
        background-color: white;
        border-bottom: none;
    }
    .card-body {
        padding: 0.25rem;
        @include media(md) {
            padding: 1.25rem;
        }
    }
}

// tagify
.tagify--outside {
    border: 0;
}

.tagify--outside .tagify__input {
    order: -1;
    flex: 100%;
    border: 1px solid var(--tags-border-color);
    margin-bottom: 1em;
    transition: 0.1s;
}

.tagify--outside .tagify__input:hover {
    border-color: var(--tags-hover-border-color);
}

.tagify--outside.tagify--focus .tagify__input {
    transition: 0s;
    border-color: var(--tags-focus-border-color);
}

//create
.create {
    .file-upload {
        width: 300px;
    }

    .progress {
        position: relative;
        width: 100%;
        height: 2rem;
    }
    .bar {
        background-color: $green;
        width: 0%;
        height: 100%;
    }
    .percent {
        position: absolute;
        display: inline-block;
        left: 50%;
        top: 50%;
        color: #040608;
    }
    .tagify__input {
        height: 35px;
        border-radius: 5px;
    }
    .form-control {
        width: 99%;
    }
    .file-name {
        padding-left: 0.27rem;
    }
    #file-chosen {
        width: 200px;
        margin-left: 2rem;
        margin-bottom: 0.5rem;
    }
}

// table
.table-preview {
    width: 25px;
    height: 25px;
    border-radius: 2px;
    font-size: 1.5rem;
}
.media-view {
    width: 100%;
    border-radius: 2px;
    @include media(md) {
        // width: auto;
        height: 480px;
    }
}

.home {
    .col-md-4 {
        margin-top: 1rem;
    }

    .tagify {
        width: 100%;
        border-radius: 20px;
        border: none;
        background-color: rgb(241, 243, 244);
        --tags-focus-border-color: grey;
        @include media(md) {
            width: 75%;
        }
    }
    .home-btn {
        margin: 0;
    }
    button {
        width: 100%;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%),
            1px 2px 20px 0 rgb(0 0 0 / 10%);
    }
    nav {
        font-size: 1.2rem;
    }
    .modal {
        margin-top: 5rem;
        @include media(md) {
            top: 2rem;
        }
        p {
            margin-top: 0.1rem;
        }
    }
}

.login {
    margin-top: 10rem;
    .card {
        border: none;
        box-shadow: none;
        .login-header {
            background-color: white;
        }
        .card-header {
            padding: 0 2rem;
        }
    }
    img {
        width: 80%;
        height: 50%;
        @include media(md) {
            width: 60%;
        }
    }
    button {
        width: 100px;
    }
}

.breadcrumb {
    background-color: white;
}

.table {
    th,
    td {
        white-space: nowrap;
        vertical-align: middle;
        &:nth-child(2) {
            white-space: unset;
            word-wrap: break-word;
            max-width: 300px;
        }

        &:nth-child(2),
        &:nth-child(3) {
            display: none;
        }
        @include media(md) {
            &:nth-child(2),
            &:nth-child(3) {
                display: table-cell;
            }
        }
    }
    tr {
        &:hover {
            background-color: rgb(232, 240, 254);
            cursor: pointer;
            .dropdown {
                button.table-button {
                    background-color: rgb(232, 240, 254);
                    border-color: rgb(232, 240, 254);
                    box-shadow: none;
                }
            }
        }
    }
    a {
        &:hover {
            text-decoration: none;
        }
    }
    .tags {
        border-radius: 5px;
    }
    button {
        width: 2.5rem;
    }
    .dropdown {
        button {
            background-color: white;
            border-color: white;
            box-shadow: none;
        }
    }
    .dropdown-menu {
        button {
            width: 100%;
            box-shadow: none;
        }
        &:hover,
        :active {
            border-radius: none;
            border-style: none;
        }
    }
}

.lightbox {
    .modal-header {
        border-bottom: none;
    }
    .modal-body {
        padding-top: 0;
    }
    .medias {
        width: 100%;
        height: 28vh;
        border-radius: 5px;
        @include media(md) {
            width: 100%;
            height: 623px;
        }
    }
    button {
        width: auto;
        box-shadow: none;
    }
}
