@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
body {
    color: $dark-grey;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 100;
}

a {
    color: $dark-grey;
}

.card {
    width: 100%;
    @include media(md) {
        width: 80%;
    }

    .card-body {
        padding: 0.25rem;
        @include media(md) {
            padding: 1.25rem;
        }
    }
}

// tagify
.tagify--outside {
    border: 0;
}

.tagify--outside .tagify__input {
    order: -1;
    flex: 100%;
    border: 1px solid var(--tags-border-color);
    margin-bottom: 1em;
    transition: 0.1s;
}

.tagify--outside .tagify__input:hover {
    border-color: var(--tags-hover-border-color);
}

.tagify--outside.tagify--focus .tagify__input {
    transition: 0s;
    border-color: var(--tags-focus-border-color);
}

// inputs

//buttons
// a.btn {
//     border-radius: 20px;
// }

//create
.create {
    .file-upload {
        width: 190px;
    }
}

// table
.table-preview {
    width: 25px;
    height: 25px;
    border-radius: 2px;
    font-size: 1.5rem;
}
.media-view {
    width: 100%;
    border-radius: 2px;
    @include media(md) {
        width: auto;
        height: 480px;
    }
}

.table {
    th,
    td {
        white-space: nowrap;
        vertical-align: middle;
        &:nth-child(2) {
            white-space: unset;
            word-wrap: break-word;
            max-width: 300px;
        }

        &:nth-child(2),
        &:nth-child(3) {
            display: none;
        }
        @include media(md) {
            &:nth-child(2),
            &:nth-child(3) {
                display: table-cell;
            }
        }
    }
    tr {
        &:hover {
            background-color: rgb(232, 240, 254);
        }
    }
    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.home {
    .col-md-4 {
        margin-top: 1rem;
    }
    input {
        border-radius: 20px;
        border-style: none;
        border: 2px solid grey;
        line-height: 30px;
        padding-left: 1rem;

        &:focus {
            outline: none;
        }
    }
}

.login {
    margin-top: 10rem;
    .card {
        border: none;
        .login-header {
            background-color: white;
        }
    }
    img {
        width: 80%;
        @include media(md) {
            width: 60%;
        }
    }
}
